.boxPoster {
  padding: 0 5px;
}
.carouselMovies {
  width: 100vw;
  margin: 60px 0 20px;
  display: inline-block;
}
.container {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 10px;
 
}
.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 10px;
}
.CircularProgressbar {
  position: absolute;
  width: 40px !important;
}
.title {
  color: #bd93f9;
}